$body-bg: #e6ebf1;
$font-family-base: Open Sans;
$font-size-base: 0.9rem;

$primary: #6772E5;
/*$success: #3ECF8E;*/

$card-border-width: 0;
$card-inner-border-radius: 5px;
$card-cap-bg: #fff;
$card-bg: #f6f9fc;

$table-hover-bg: #f5f8fc;

$modal-content-border-width: 0;
$modal-backdrop-opacity: .7;

$input-box-shadow: 0;
$input-btn-focus-box-shadow: 0;
$input-border-radius: 0;

$tooltip-max-width: 500px;
